<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center>
        <div text-center>
          <h3><b>Please Login or Register Here!</b></h3>
        </div>
        <div>
          <ion-item>
            <ion-input type="text" placeholder="Username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password"></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-button size="large" (click)="goToHome()">Login</ion-button>
          <ion-button size="large" (click)="goToRegister()">Register</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
