<ion-header>
  <ion-toolbar>
    <ion-title>
      Create New Rental
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title style="margin: 5px">Name: </ion-card-title>
    <ion-input placeholder="Enter Name" [(ngModel)]="name"></ion-input>
    <ion-card-title style="margin: 5px">Location: </ion-card-title>
    <ion-input placeholder="Enter Location" [(ngModel)]="location"></ion-input>
    <ion-card-title style="margin: 5px">Price: </ion-card-title>
    <ion-input placeholder="Enter Price" [(ngModel)]="price"></ion-input>
    <ion-card-title style="margin: 5px">Image Url:  </ion-card-title>
    <ion-input placeholder="Enter Image Url" [(ngModel)]="imageUrl"></ion-input>
  </ion-card>
  <ion-button color="success" size="large" (click)="createRental()">Add New Rental</ion-button>
</ion-content>
