<ion-header>
  <ion-toolbar>
    <ion-title>
      Create New Rental
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title style="margin: 5px">Location: </ion-card-title>
    <ion-input placeholder="Enter Location"></ion-input>
    <ion-card-title style="margin: 5px">Price: </ion-card-title>
    <ion-input placeholder="Enter Price"></ion-input>
    <ion-card-title style="margin: 5px">Number of Guests: </ion-card-title>
    <ion-input placeholder="Enter Number of Guests"></ion-input>
  </ion-card>
  <ion-card>
    <ion-card-title style="margin: 5px">Start Date: </ion-card-title>
    <ion-item>
      <ion-datetime display-format="DD/MM/YYYY" placeholder="Enter Start Date"></ion-datetime>
    </ion-item>
    <ion-card-title style="margin: 5px">Finish Date: </ion-card-title>   
    <ion-item>
      <ion-datetime display-format="DD/MM/YYYY" placeholder="Enter End Date"></ion-datetime>
    </ion-item>
  </ion-card>
  <ion-button color="success" size="large">Add New Rental</ion-button>
</ion-content>
