<ion-header>
  <ion-toolbar>
    <ion-title>
      Existing Rentals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-card *ngFor="let rental of rentals">
        <img src="{{rental.imageUrl}}" (click)="goRental(rental)">
        <ion-item>
          <ion-card-subtitle>Name: {{rental.name}}</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-card-subtitle>Location: {{rental.location}}</ion-card-subtitle>
        </ion-item>
        <ion-item>
          <ion-card-subtitle>Price: {{rental.price}}</ion-card-subtitle>
        </ion-item>
      </ion-card>
    </ion-list>
</ion-content>
